

<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Matemáticas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>La asignatura de Matemáticas tiene como objetivo desarrollar el pensamiento lógico, la capacidad de análisis y la resolución de problemas. A lo largo del curso, los estudiantes aprenderán sobre:</p>
      <ul>
        <li>Álgebra y sus aplicaciones.</li>
        <li>Geometría plana y espacial.</li>
        <li>Funciones y ecuaciones.</li>
        <li>Probabilidad y estadística.</li>
        <li>Cálculo diferencial e integral.</li>
      </ul>
      <p>Esta materia fomenta el razonamiento crítico y proporciona las herramientas necesarias para resolver problemas cotidianos y científicos.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" routerLink="/inicioalum">
    Volver al Inicio
  </ion-button>
  <app-footer></app-footer>
</ion-content>
