<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>La asignatura de Historia se enfoca en el estudio de los eventos más importantes que han moldeado el mundo a lo largo de los siglos. Los estudiantes aprenderán sobre el desarrollo de las civilizaciones, las culturas antiguas y modernas, y los hechos históricos más relevantes. Entre los temas tratados, se incluyen:</p>
      <ul>
        <li>La historia antigua: civilizaciones como Egipto, Grecia y Roma.</li>
        <li>La Edad Media y el Renacimiento.</li>
        <li>La Revolución Industrial y sus consecuencias.</li>
        <li>Las guerras mundiales y el siglo XX.</li>
        <li>Historia contemporánea y sus desafíos globales.</li>
      </ul>
      <p>El objetivo de esta materia es que los estudiantes comprendan el pasado para entender mejor el presente y el futuro, fomentando un pensamiento crítico y reflexivo sobre los eventos históricos y su impacto en la actualidad.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" routerLink="/inicioalum">
    Volver al Inicio
  </ion-button>
  <app-footer></app-footer>
</ion-content>
