<ion-content style="overflow-y: auto; height: 100vh;">
  <app-header></app-header>
  <body>
    <div class="container">
        <header class="header">
            <h1 class="logo">Colegio XYZ</h1>
            <nav class="nav">
                <button class="nav-button">Inicio</button>
                <button class="nav-button">Clases</button>
                <button class="nav-button">Perfil</button>
                <button class="nav-button">Ajustes</button>
            </nav>
        </header>

        <main class="main-content">
            <section class="welcome-section">
                <h2>Tomar Asistencia</h2>
                <p>Selecciona la clase para comenzar.</p>
            </section>

            <section class="class-section">
              <h3>Tus Clases</h3>
              <ul class="class-list">
                <li class="class-item">
                  <h4>Matemáticas - Grado 1</h4>
                  <ion-button (click)="generateQRCode('Matemáticas - Grado 1')" class="attendance-button">Generar QR</ion-button>
                  <ion-button routerLink="/detallelenguaje" class="attendance-button">Detalle asignatura</ion-button>
                </li>

                <li class="class-item">
                  <h4>Ciencias - Grado 1</h4>
                  <ion-button (click)="generateQRCode('Ciencias - Grado 1')" class="attendance-button">Generar QR</ion-button>
                  <ion-button routerLink="/detallelenguaje" class="attendance-button">Detalle asignatura</ion-button>
                </li>

                <li class="class-item">
                  <h4>Historia - Grado 1</h4>
                  <ion-button (click)="generateQRCode('Historia - Grado 1')" class="attendance-button">Generar QR</ion-button>
                  <ion-button routerLink="/detallelenguaje" class="attendance-button">Detalle asignatura</ion-button>
                </li>

                <li class="class-item">
                  <h4>Lenguaje - Grado 1</h4>
                  <ion-button (click)="generateQRCode('Lenguaje - Grado 1')" class="attendance-button">Generar QR</ion-button>
                  <ion-button routerLink="/detallelenguaje" class="attendance-button">Detalle asignatura</ion-button>
                </li>
              </ul>
            </section>

            <div class="mx-auto text-center">
              <h2>Código QR</h2>

              <canvas  id="qrcode" style="display: block; margin: 20px auto; max-width: 100%;"></canvas>
            </div>


        </main>
    </div>
</body>
<div class="pie" >
  <p>
    Colegio XYZ
  </p>
  <ion-button shape="round" [routerLink]="['/home']" color="white"> Home</ion-button>

  @if(usuario){

    <ion-button shape="round" (click)="presentLogoutAlert()" id="logout-button"color="white">Cerrar Sesion</ion-button>
    @if (usuarioCompleto.rol === 'docente'){
      <ion-button shape="round" [routerLink]="['/inicio']" color="white"> Inicio</ion-button>
    }
    @else {
      <ion-button shape="round" [routerLink]="['/inicioalum']" color="white"> Clases</ion-button>
    }
  }
  @else {
    <ion-button shape="round" [routerLink]="['/login']" color="white"> Login</ion-button>
    <ion-button shape="round" [routerLink]="['/registro']" color="white"> Registro</ion-button>
  }

</div>
<!-- <app-footer ></app-footer> -->
</ion-content>

