<ion-content style="overflow-y: auto;">
  <app-header></app-header>
  <body>
    <div class="container">
        <header class="header">
            <h1 class="logo">Colegio XYZ</h1>
            <nav class="nav">
                <button class="nav-button">Inicio</button>
                <button class="nav-button">Clases</button>
                <button class="nav-button">Perfil</button>
                <button class="nav-button">Ajustes</button>
            </nav>
        </header>

        <main class="main-content">
            <section class="welcome-section">
                <h2>Tomar Asistencia</h2>
                <p>Selecciona la clase para comenzar.</p>
            </section>

            <section class="class-section">
                <h3>Tus Clases</h3>
                <ul class="class-list">
                    <li class="class-item">
                        <h4>Matemáticas - Grado 1</h4>
                        <ion-button class="attendance-button">Tomar Asistencia</ion-button>
                        <ion-button routerLink="/detallelenguaje" class="attendance-button"> Detalle asignatura</ion-button>
                    </li>


                    <li class="class-item">
                        <h4>Ciencias - Grado 1</h4>
                        <ion-button class="attendance-button">Tomar Asistencia</ion-button>
                        <ion-button routerLink="/detallelenguaje" class="attendance-button"> Detalle asignatura</ion-button>
                    </li>

                    <li class="class-item">
                        <h4>Historia - Grado 1</h4>
                        <ion-button class="attendance-button">Tomar Asistencia</ion-button>
                        <ion-button routerLink="/detallelenguaje" class="attendance-button"> Detalle asignatura</ion-button>
                    </li>
                    <li class="class-item">
                      <h4>Lenguaje - Grado 1</h4>
                      <ion-button class="attendance-button">Tomar Asistencia</ion-button>
                      <ion-button routerLink="/detallelenguaje" class="attendance-button"> Detalle asignatura</ion-button>
                  </li>
                </ul>
            </section>


        </main>
    </div>
</body>
  <app-footer></app-footer>
</ion-content>
