
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.header {
    background-color:  #002D40;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    background-color: white;
    color:  #002D40;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #e0f7fa;
}

/* Contenido principal */
.main-content {
    padding: 20px;
}

.welcome-section {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-section h2 {
    font-size: 24px;
    color: #00796b;
}

.class-section {
    margin-bottom: 20px;
}

.class-list {
    list-style: none;
}

.class-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.class-item h4 {
    margin: 0;
    font-size: 18px;
}

.attendance-button {
  --background: #002D40;  /* Color de fondo del botón */
  --background-activated: #001D28;  /* Color de fondo cuando el botón se presiona */
  --background-focused: #003C50;  /* Color de fondo cuando el botón está enfocado */
  --color: white;  /* Color del texto */
  border: 20px;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}

.attendance-button:hover {
    background-color:  #002D40;
}

.calendar-section {
    text-align: center;
    padding: 20px;
    background-color: #b2dfdb;
    border-radius: 10px;
}

.calendar-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.calendar {
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: #002D40;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ion-content {
  --background: #f9f9f9;  /* Cambiar el color de fondo */
}

ion-content::-webkit-scrollbar {
  width: 10px;
}

ion-content::-webkit-scrollbar-thumb {
  background-color: #0004ff; /* Color de la barra de desplazamiento */
  border-radius: 10px;
}

ion-content::-webkit-scrollbar-thumb:hover {
  background: #0004ff;
}
