<ion-content>
  <app-header></app-header>
  <p>
    !Bienvenido¡ <br> <br>Registrese aqui
  </p>


<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="nombre" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Usuario</ion-label>
  <ion-input [(ngModel)]="usuario" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input [(ngModel)]="clave" type="password" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Rol</ion-label>
  <ion-select [(ngModel)]="rol" required>
      <ion-select-option value="docente">Docente</ion-select-option>
      <ion-select-option value="alumno">Alumno</ion-select-option>
  </ion-select>
</ion-item>
@if (isLoading) {
  <ion-spinner name="bubbles"></ion-spinner>
}
<ion-button class="bo-registro" (click)="registrar()">Registrar</ion-button>



  <app-footer></app-footer>
</ion-content>
