ion-content {
  background-color: aliceblue; // Azul claro
  --ion-background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; // Para que ocupe toda la pantalla
  padding: 20px;


}

form {
  display: flex;
  flex-direction: column;
  align-items: center; // Centramos el contenido horizontalmente
  width: 100%; // Ocupa todo el ancho
  max-width: 400px; // Limita el ancho máximo del formulario
}

ion-item {
  --highlight-color-focused: #1e88e5; // Azul para foco
   // Ajustamos el ancho al contenedor del formulario
  white-space: 90%;
  margin-bottom: 15px;
  border-radius: 50px; // Bordes redondeados
  padding: 8px; // Espacio interno

}

ion-button {
  --background: #1e88e5;
  --background-activated: #1565c0;
  display: flex;
  justify-content: center;  // Centra el botón horizontalmente
  align-items: center;  // Centra el botón verticalmente
  width: 100%;  // El contenedor ocupa todo el ancho
  margin-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

footer{
  background-color: #002D40;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.b-footer{
  --background: #ffffff;  /* Cambia el color de fondo */
  --border-radius: 50px;
  padding: 5px;
  margin-top: 10%;
  padding-left: 30%;
  padding-right: 30%;

}
.bo-registro {
  text-decoration: none;
  color: #ffffff; /* Cambia el color según tus preferencias */
  font-weight: bold;
}
