.pie {
  display: inline;
  position: absolute; /* Cambiado de fixed a absolute */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #002D40;
  padding: 10px;
  text-align: center;
  color: white;
}
ion-button {

  --color: white;       /* Cambia el color del texto */
  --border-radius: 50px;  /* Cambia el borde si lo deseas */
  padding: 5px;
}
