<ion-content>
  <app-header></app-header>
  <p>
    login works!
  </p>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="clave"></ion-input>
  </ion-item>
  <ion-button (click)="login(usuario, clave)" id="present-alert">Iniciar sesión</ion-button>
  <!-- Mostrar mensaje de error si el login falla -->
  @if(loginFailed===true){
    <ion-alert
      trigger="present-alert"
      header="Error..."
      message="Usuario o contraseña incorrecta."
      *ngIf="loginFailed"
    ></ion-alert>
  }
  @if(loginFailed===false){
    <ion-alert
      trigger="present-alert"
      header="Inicio correctamente."
      message="Bienvenido, {{usuario}}."
      *ngIf="loginFailed===false"
    ></ion-alert>
  }


  <app-footer></app-footer>
</ion-content>
