<ion-content>
  <app-header></app-header>
  <p>
    !Bienvenido¡ <br> <br>Inicie sesión
  </p>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="clave"></ion-input>
  </ion-item>
  @if (isLoading) {
    <ion-spinner name="bubbles"></ion-spinner>
  }
  <ion-button (click)="login(usuario, clave)">Iniciar sesión</ion-button>

  <div class="container">
    <ion-button class="bo-reestablecer">Reestablecer contraseña</ion-button>
  </div>
  <!-- Mostrar mensaje de error si el login falla -->



  <app-footer></app-footer>
</ion-content>
