<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lenguaje</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>La asignatura de Lenguaje está diseñada para mejorar las habilidades de comunicación de los estudiantes en forma escrita y oral. A través de esta materia, los estudiantes desarrollarán sus competencias en comprensión lectora, redacción y expresión verbal. Los principales temas incluyen:</p>
      <ul>
        <li>Lectura y análisis de textos literarios y no literarios.</li>
        <li>Redacción de ensayos, narraciones y otros géneros.</li>
        <li>Desarrollo de vocabulario y ortografía.</li>
        <li>Comprensión auditiva y expresión oral.</li>
        <li>Uso adecuado de la gramática y la sintaxis.</li>
      </ul>
      <p>El objetivo de esta materia es que los estudiantes se conviertan en usuarios competentes del lenguaje, capaces de expresar sus ideas de manera clara, efectiva y creativa.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" routerLink="/inicioalum">
    Volver al Inicio
  </ion-button>
  <app-footer></app-footer>
</ion-content>
