<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ciencias</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>La asignatura de Ciencias abarca un estudio amplio de las diferentes ramas de la ciencia. Su objetivo es proporcionar una comprensión profunda de los fenómenos naturales y fomentar el espíritu investigativo de los estudiantes. A lo largo del curso, los estudiantes aprenderán sobre:</p>
      <ul>
        <li>Biología: el estudio de los seres vivos.</li>
        <li>Física: las leyes que rigen el universo.</li>
        <li>Química: la composición y transformación de la materia.</li>
        <li>Ecología: el impacto del ser humano en el medio ambiente.</li>
        <li>Astronomía: el estudio del espacio y los cuerpos celestes.</li>
      </ul>
      <p>La asignatura de Ciencias promueve la observación, experimentación y la capacidad de análisis, preparándolos para el conocimiento científico y su aplicación en la vida diaria.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" routerLink="/inicioalum">
    Volver al Inicio
  </ion-button>

  <app-footer></app-footer>
</ion-content>
